<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="buscador" #input>
</mat-form-field>
<div class="parent">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="codUsuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> codUsuario </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.codUsuario}} </td>
      </ng-container>

      <ng-container matColumnDef="idForeanea">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> idForeanea </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.idForeanea}} </td>
      </ng-container>

      <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.nombres}} </td>
      </ng-container>

      <ng-container matColumnDef="numeroContacto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero Contacto </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.numeroContacto}} </td>
      </ng-container>

      <ng-container matColumnDef="tipoNumero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Numero </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.tipoNumero}} </td>
      </ng-container>

      <ng-container matColumnDef="parentesco">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> parentesco </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.parentesco}} </td>
      </ng-container>

      <ng-container matColumnDef="aciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> aciones </th>
        <td mat-cell *matCellDef="let articulo">

          <button mat-icon-button aria-label="icon-button with a drive_file_rename_outline icon"
            (click)="modificarInfo(articulo.idForeanea)">
            <mat-icon>drive_file_rename_outline</mat-icon>
          </button>

          <button mat-icon-button aria-label="icon-button with a delete icon"
            (click)="eliminarInfo(articulo.idForeanea)">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

    <mat-divider [vertical]="true"></mat-divider>

  </div>
  
  <div class="mat-elevation-z8">
    <div class="example-container">

      <mat-icon matSuffix>perm_contact_calendar</mat-icon>
      <mat-form-field appearance="standard">
        <mat-label>Ingrese sus nombres</mat-label>
        <input matInput *ngIf="id==-1" placeholder="">
        <input matInput *ngIf="id!=-1" value={{nombre}} placeholder="">
        
      </mat-form-field>

    </div>
    <div class="example-container">

      <mat-icon matSuffix>perm_contact_calendar</mat-icon>
      <mat-form-field appearance="standard">
        <mat-label>Numero de telefono</mat-label>
        <input matInput *ngIf="id==-1" placeholder="">
        <input matInput *ngIf="id!=-1" value={{numeroContacto}} placeholder="">
      </mat-form-field>

    </div>
    <div class="example-container">

      <mat-form-field appearance="fill">
        <mat-icon matSuffix>perm_contact_calendar</mat-icon>
        <mat-label>Selecione su tipo de numero</mat-label>
        <mat-select [(value)]="tipoNumero">
          <mat-option value="movil">movil</mat-option>
          <mat-option value="fijo">fijo</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-icon matSuffix>perm_contact_calendar</mat-icon>
        <mat-label>Selecione su parentesco</mat-label>
        <mat-select [(value)]="parentesco">
          <mat-option value="amigo">amigo</mat-option>
          <mat-option value="familiar">familiar</mat-option>
          <mat-option value="conocidoDeTrabajo">Compañero de trabajo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="example-button-row">
      <button mat-raised-button>Actualizar</button>
      <mat-icon matSuffix>sync</mat-icon>
    </div>
  </div>
</div>
